<div id="list-container" class="list-group">
  <ul id="name-list">
    <% @results.each do |contact| %>
      <li class="list-group-item"><a data-id=<%= "#{contact.id}" %> href="#"><%= contact.name %></a></li>
    <% end %>
  </ul>
</div>