<header>
  <h2>GrioPages</h2>
  <div id="search_container">
    <form id="search_form">
      <input type="text" name="search" placeholder="Name, Address, or Phone Number">
      <input type="submit" value="Submit">
    </form>
  </div>
</header>

<div id="message_container">
</div>


<div id="results_container">
</div>

<div id="show_container">
</div>